<div class="comments">
	<h4>댓글<span class="count badge badge-pill badge-info" id='commentCnt'><span id="commentCount65_0"></span><%=posts._doc.comments.length %></span></h4>
	<div class="comment-list">
		<% var nestedCommentLocation = 0 %>
		<% for (var i = 0; i < posts._doc.comments.length; i++) { %>
			<div class="comment" id='<%= posts._doc.comments[i]._id %>' data-comment-location='<%= i%>'>
				<h6 class="commentContents writer" style="font-size: small;">
					<%=comments[i].writerName %>
				</h6>
				<h4 class="commentContents contents" data-comment-location='<%= i%>'>
					<%=comments[i].contents %>
				</h4>
				<h6 class="commentContents created" style="font-size: x-small;">
					<%=moment(comments[i].created_at).format('YYYY-MM-DD hh:mm:ss') %>
				</h6>
				<div class="btn-group dropleft ops">
					<button type="button" class="btn btn-outline dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					⋮
					</button>
					<div class="dropdown-menu">
						<% if (login_success) { %>
						<button class="dropdown-item addNestedComment" type="button" 
								data-comment-location='<%= i %>' data-id='<%=comments[i]._id %>'>답글</button>
						<button class="dropdown-item editComment" type="button" 
								data-comment-location='<%= i %>' data-id='<%=comments[i]._id %>'>수정</button>
						<button class="dropdown-item deleteComment" type="button"
								data-id='<%= posts._doc.comments[i]._id %>'>삭제</button>
						<% } %>
						<button class="dropdown-item reportComment" type="button">신고</button>
					</div>
				</div>
				<% if(comments[i].nestedComments.length > 0) { %>
					<% var nestedCommentLength = comments[i].nestedComments.length; %>
					<span class="wrap_nestedComment_btn">
						<button type="button" class="nestedComment_btn" data-id='<%=nestedCommentLocation %>'>
							<span class='open_nestedComment'>대댓글</span>
							<span class="num_nestedComment"><%=comments[i].nestedComments.length %></span>
						</button>
					</span>
					<div class="wrap_nestedComment" style="display: none;">
					<% nestedCommentLocation++; %>
					<% for (var j = 0; j < nestedCommentLength; j++) { %>
						<div class="nestedComment" id='<%=comments[i].nestedComments[j]._id %>'>
							<h6 class="nestedCommentContents writer" style="font-size: small;">
								<%=comments[i].nestedComments[j].writerName %>
							</h6>
							<h4 class="nestedCommentContents contents">
								<%=comments[i].nestedComments[j].contents %>
							</h4>
							<h6 class="nestedCommentContents created" style="font-size: x-small;">
								<%=moment(comments[i].nestedComments[j].created_at).format('YYYY-MM-DD hh:mm:ss') %>
							</h6>
						</div>
					<% } %>
					</div>
				<% } %>
			</div>
			
		<% } %>
	</div>
	<br>
		<% if (login_success) { %>
			<form id='addcomment'>
				<div class="field">
					<label>댓글 달기</label>
					<br><input type="text" id='comment' name="contents" placeholder="enter your comment" onKeyPress='event.keyCode == 13 && addComment();'>
				</div>
				<input hidden type="text" name="writer" value="<%= user._id %>">
				<input hidden type="text" name="writerN" value="<%= user.name %>">
				<input hidden type="text" name="id" value="<%= posts._doc._id %>">
				<br><input class="btn btn-outline-success btn-sm" id='addbtn' value="Enter" onclick='addComment();' disabled/>
			</form>
		<% } else { %>
			<div class="alert alert-warning">댓글 작성은 로그인 하신 후 이용할 수 있는 기능입니다.</div>
		<% } %>
</div>

	