<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/css/chat.css"/>
    <title>My_page</title>
  </head>
  <body>
    <%- include ("./nav.ejs") %>
	
	<div class="container mt-4">			
						
		<div class="page-header text-center">
			<h1><span class="fa fa-book" id='my_info' data-id='<%=user._id %>'></span>내 정보</h1>
		</div>
		<br>
		<div class="row">

			<div class="col-sm-6">
				<div class="well">

					<% if (user.provider == undefined || user.provider == '') { %>
						<h3><span class="fa fa-user"></span> 프로필</h3>
						<br>
						<p>
							<strong>이메일</strong>: <%= user.email %><br><br>
							<strong>별명</strong>: <%= user.name %>
						</p>
					<% } else if (user.provider == 'facebook') { %>
						<h3 class="text-primary"><span class="fa fa-facebook"></span> 페이스북 프로필</h3>
						<br>
						<p>
							<strong>아이디</strong>: <%= user.facebook.id %><br><br>
							<strong>이메일</strong>: <%= user.facebook.email %><br><br>
							<strong>이름</strong>: <%= user.facebook.name %>
						</p>
					<% } else if (user.provider == 'twitter') { %>
						<h3 class="text-primary"><span class="fa fa-twitter"></span> 트위터 프로필</h3>
						<br>
						<p>
							<strong>아이디</strong>: <%= user.twitter.id %><br><br>
							<strong>이메일</strong>: <%= user.twitter.email %><br><br>
							<strong>이름</strong>: <%= user.twitter.name %>
						</p>
					<% } else if (user.provider == 'google') { %>
						<h3 class="text-primary"><span class="fa fa-google"></span> 구글 프로필</h3>
						<br>
						<p>
							<strong>아이디</strong>: <%= user.google.id %><br><br>
							<strong>이메일</strong>: <%= user.google.email %><br><br>
							<strong>이름</strong>: <%= user.google.name %>
						</p>
					<% } %>
					<br>
					<span>
						<button type="button" class="btn btn-outline-primary mt-3" id='myPost' onclick='search();'>내가 쓴 글</button>
						<button type="button" class="btn btn-outline-primary mt-3" id='myLayout' onclick='location.href="/myLayout"'>내 Layout</button>
					</span>
					<br>
					<button type="button" class="btn btn-outline-secondary mt-2" onclick="location.href='/'">Home</button>

					<br>
				</div>
			</div>

		</div>

	</div>
	<%- include ("./chatpage.ejs") %>  
    <%- include ("./footer.ejs") %>
	  
	<script>
		function search() {
			var idinfo = $('#my_info')[0].dataset.id;
			location.href = '/process/search?value=' + idinfo + '&ops=' + 'writer';
		}
		
		function viewLayout() {
			
		}
	</script>
  </body>
</html>