<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
	<link rel="stylesheet" href="/public/css/chat.css"/>
	<link rel="stylesheet" href="/public/css/comment.css"/>
    <title>글 조회</title>
  </head>
  <body>
    <%- include ("./nav.ejs") %>


	<div class="container" id='showpostid'>
		<h4 class="container mt-4"><strong id='title'><%= posts._doc.title %></strong></h4>
		<input type='hidden' id='hiddenPostId' value='<%= posts._id %>'>
		<div class="float-right">
		<% if(login_success && posts.writer.name == user.name) { %>
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				☰
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<button class="dropdown-item" type="button" id='edit' data-id='<%= posts._id %>'>edit</button>
				<button class="dropdown-item" type="button" id='delete' data-id='<%= posts._id %>'>delete</button>
			  </div>
			</div>
		<% } %>
		writer : <%= posts.writer.name %>
		</div><br>
		<ul class="list-group">
			<li class="list-group-item">
			<p id='contents'> <%= posts._doc.contents %> </p>
			<br>
			</li>
		</ul>
	
		<br>
		<% if(posts._doc.imageUrl !== '') { %>
			<div class="text-center">
				<img src="/<%=posts._doc.imageUrl %>" class="rounded" alt="이미지를 불러오지 못했습니다." id='imageUrl'>
			</div>
		<% } %>
		
		<%- include ("./comment.ejs") %>
		
		
		 <br><br><button type="button" class="btn btn-light" id='back' onclick='location.href=document.referrer'>Back</button>
	</div>	
	<%- include ("./chatpage.ejs") %>
    <%- include ("./footer.ejs") %>
	
	<script src='/public/js/showpost.js'></script>
	
  </body>
</html>