<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>글 조회</title>
  </head>
  <body>
    <%- include ("./nav.ejs") %>


	<div class="container" id='showpostid'>
		<h4 class="container mt-4"><strong id='title'><%= posts._doc.title %></strong></h4>
		<div class="float-right">
		<% if(login_success && posts.writer.name == user.name) { %>
			<div class="dropdown">
			  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				☰
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
				<button class="dropdown-item" type="button" id='edit' data-id='<%= posts._id %>'>edit</button>
				<button class="dropdown-item" type="button" id='delete' data-id='<%= posts._id %>'>delete</button>
			  </div>
			</div>
		<% } %>
		writer : <%= posts.writer.name %>
		</div><br>
		<ul class="list-group">
			<li class="list-group-item">
			<p id='contents'> <%= posts._doc.contents %> </p>
			<br>
			</li>
		</ul>
	
		<br>
		<% if(posts._doc.imageUrl !== '') { %>
			<div class="text-center">
				<img src="/<%=posts._doc.imageUrl %>" class="rounded" alt="이미지를 불러오지 못했습니다." id='imageUrl'>
			</div>
		<% } %>
		
		<%- include ("./comment.ejs") %>
		
		
		 <br><br><button type="button" class="btn btn-light" id='back' onclick='location.href=document.referrer'>Back</button>
	</div>		
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

	<script>
		//댓글 입력 후에 enter버튼 활성화
		$("#comment").on("keyup", () => {
			var flag = true;
			flag = $("#comment").val().length > 0 ? false : true;
			$("#addbtn").attr("disabled", flag);
		});
		
		
		
		$('#edit').click( (e) => {
			var postNum = e.target.dataset.id;
			var imageUrl = '';
			if(document.querySelector("#imageUrl")) {
				imageUrl = document.querySelector("#imageUrl").src;
				console.log(imageUrl);
			}
			
			$.ajax({
				method : 'POST',
				url : '/edit/' + postNum,
				data : { title: $('#title')[0].innerText
						, contents: $('#contents')[0].innerText
						, imageUrl: imageUrl
					   }
			}).done( (results) => {
				console.log('call view');
				// Contents 영역 제거
				$('#showpostid').children().remove();
				// Contents 영역 교체
				$('#showpostid').html(results);
				console.log(results);
			}).fail( (xhr, textStatus, errThrown) => {
				console.log("서버에서 보내온 오류 정보 : ", xhr, textStatus, errThrown);
			});
		})
		
		$('#delete').click( (e) => {
			if(confirm('정말 게시물을 삭제하시겠습니까?')) {
				var postNum = e.target.dataset.id;
				$.ajax({
					method : 'DELETE',
					url : '/process/delete',
					data : { _id : postNum }
				}).done( (results) => {
					location.href = '/listpost';
				}).fail( (xhr, textStatus, errThrown) => {
					console.log("서버에서 보내온 오류 정보 : ", xhr, textStatus, errThrown);
				});
			}
		})
		
		function addComment() {
			if($('#comment')[0].innerText !== '') {
				var formData = $('#addcomment').serializeArray(); // serialize 사용 -- 객체 형식으로
				$.ajax({
					method: "POST",
					url: "/process/addcomment",
					data: {id: formData[2].value, contents: formData[0].value, writer: formData[1].value}
				}).done( (results) => {
					console.log('call view');
					// Contents 영역 제거
					$('.comments').children().remove();
					// Contents 영역 교체
					$('.comments').html(results);
				}).fail( (xhr, textStatus, errThrown) => {
					console.log("서버에서 보내온 오류 정보 : ", xhr, textStatus, errThrown);
				});
			}
		}
	</script>
	  
	  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
  </body>
</html>